<div class="login">
  <div class="logo">
    <img src="https://www.linkpicture.com/q/logo_239.png">
    <div class="name">Glow up</div>
  </div>
  <div class="form">
    <%= render "layouts/flash" %>
    <%= form_for(:session, url: login_path) do |form| %>
      <%= form.email_field :email, placeholder: "Email" %>
      <%= form.password_field :password, placeholder: "Password" %>
      <%= form.submit "Log in" %>
    <% end %>
    <div class="text">
      Don't have an account?
      <%= link_to "Sign up!", new_user_path %>
    </div>
  </div>
</div>
