<div class="checkout">
  <div class="bg"></div>
  <div class="top">
    <%= link_to "< Checkout", new_order_path, class: "back" %>
  </div>
  <div class="outer-container">
    <div class="container">
      <div class="personal-details">
        <div class="title">Customer Details</div>
        <div class="details">
          <div>
            Name:
            <%= @booking.first_name %>
            <%= @booking.last_name %>
          </div>
          <div>
            Email address:
            <%= current_user.email %>
          </div>
          <div>
            Contact number:
            <%= @booking.mobile_number %>
          </div>
        </div>
      </div>
      <div class="booking-details">
        <div class="title">Booking Details</div>
        <div class="details">
          <div><i class="fa-regular fa-clock"></i>
            1 hour service time</div>
          <div>
            <i class="fa-regular fa-calendar"></i>
            <%= @order.date.strftime("%a, %b %e %Y") %>
            •
            <%= @order.time_slot.time %>
          </div>

        </div>
        <div class="box">
          <div class="box-title">Price Breakdown</div>
          <div class="service-list">
            <% @service_orders.each do |order| %>
              <div class="left">
                <div class="service-name">
                  <span>
                    x<%= order.quantity %>
                  </span>
                  <%= order.service.name %>
                </div>
              </div>
              <div class="right">
                <div class="service-price">
                  <%= number_to_currency(
                    order.service.price,
                    unit: "₱",
                    strip_insignificant_zeros: true
                  ) %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="total">
            <div class="total-title">Total Cost</div>
            <div class="total-price">
              <%= number_to_currency(@order.total, unit: "₱", strip_insignificant_zeros: true) %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div style="margin-bottom: 10px">
      <div class="payment-options">
        <div class="cash">
                <i class="fa-regular fa-money-bill-1"></i>
        Cash</div>
        <%= link_to payments_card_path(booking_id: @booking.id) do %>
          <i class="fa-regular fa-credit-card"></i> Card
        <% end %>
      </div>
      <%= form_with(url: payments_cash_path) do |form| %>
        <%= form.hidden_field :booking_id, value: @booking.id %>
        <%= form.hidden_field :amount, value: @order.total %>
        <%= form.hidden_field :payment_type, value: "cash" %>
        <%= form.submit "Book Now" %>
      <% end %>
      <%= link_to "Cancel", categories_path, class: "cancel" %>
    </div>
  </div>
</div>
