<%= form_with(model: time_slot, url: url) do |form| %>
  <%= render "shared/error_messages", object: time_slot %>
  

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.select :time, ["10:00 AM", "11:00 AM", "12:00 PM", "2:00 PM", "3:00 PM", "4:00 PM"], selected: "10:00 AM" %>
  </div>

  <div>
    <%= form.label :max_slot, style: "display: block" %>
    <%= form.number_field :max_slot %>
  </div>

  <div>
    <%= form.submit submit %>
  </div>
<% end %>
