<%= form_with(model: user) do |form| %>
  <%= render "shared/error_messages", object: user %>
  <div>
    <%= form.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= form.password_field :confirm_password, placeholder: "Confirm Password" %>
  </div>
  <div>
    <%= form.submit submit %>
  </div>
<% end %>
