<%= form_with(model: category) do |form| %>
  <%= render "shared/error_messages", object: category %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit submit %>
  </div>
<% end %>
