<div class="nav">
  <% if current_user.customer? %>
    <%= link_to categories_path, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/home_46.png">
        <div class="title">Home</div>
      </div>
    <% end %>
    <%= link_to orders_path, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/bookings.png">
        <div class="title">Bookings</div>
      </div>
    <% end %>
    <%= link_to history_path, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/history_3.png">
        <div class="title">History</div>
      </div>
    <% end %>
    <%= link_to user_path(current_user), class: "box prof" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/profile_34.png">
        <div class="title">Profile</div>
      </div>
    <% end %>
  <% else %>
    <%= link_to categories_path, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/home_46.png">
        <div class="title">Home</div>
      </div>
    <% end %>
    <%= link_to orders_path, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/bookings.png">
        <div class="title">Bookings</div>
      </div>
    <% end %>
    <%= link_to users_path, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/profile_34.png">
        <div class="title">Users</div>
      </div>
    <% end %>
    <%= link_to logout_path, data: {turbo_method: :delete}, class: "box" do %>
      <div class="button">
        <img src="https://www.linkpicture.com/q/logout_4.png">
        <div class="title">Log out</div>
      </div>
    <% end %>
  <% end %>
</div>
